html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.button-start {
  border: 0;
  width: 15%;
  height: 7%;
  font-size: 16px;
  font-family: 'Eater-Regular';
  background-color: #ffc0bb75;
  color: white;
  border-radius: 5px;
  border-bottom: 2px solid #e6a38f;
}